/* General */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
    background-color: #f9d7e5 !important;
}

/* Text */

h1 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.customNav {
    position: fixed !important;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent;
    background-size: cover;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    margin: 0px 15px;
}

.customNav a {
    color: white !important;
}

.nav-link:hover {
    color: rgb(236, 157, 157) !important;
}

/* Jumbotron */

.pinkBackground {
    background-image: url(../images/pinkhero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
}

/* Project Cards */

.content {
    padding: 50px;
}

.projects {
    padding: 0px 90px 30px 90px;
}

.cardContainer {
    text-align: center;
}

.card img {
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
}

.card img:hover {
    box-shadow: inset 0px 0px 20px rgba(232,102,236,1), 0 0 15px rgba(232,102,236,1);
    opacity: 1;
}

.btn {
    background-color: pink !important;
    border: none !important;
}

.btn:hover {
    background-color: rgb(236, 157, 157) !important;
}

/* About Me */

.about {
    width: 40%;
    text-align: center;
    padding: 50px;
}

/* Skills */

.skills {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    transition: all 0.5s ease-in-out;
}

.skillicon {
    width: 70px;
    height: 70px;
    margin: 15px;
}

/* Footer */

.contacticon {
    width: 40px;
    margin: 10px;  
}

.contact {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}